<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index-holding.htm" />
            </files>
        </defaultDocument>
		<httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="404.php" responseMode="ExecuteURL" />
        </httpErrors>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</handlers>
        <rewrite>
            <rules>
                <clear />
				<rule name="Home (link)" stopProcessing="true">
                    <match url="^index.php" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/upd/" />
                </rule>
				<rule name="Home No EXT(link)" stopProcessing="true">
                    <match url="^index" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/upd/" />
                </rule>
				<rule name="About(link)" stopProcessing="true">
                    <match url="^about.php" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/upd/about-us" />
                </rule>
				<rule name="Latest News (link)" stopProcessing="true">
                    <match url="^news.php" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/upd/latest-news" />
                </rule>
				<rule name="Archived News (link)" stopProcessing="true">
                    <match url="^archived-news.php" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/upd/archived-news" />
                </rule>
				<rule name="Newsletter (link)" stopProcessing="true">
                    <match url="^newsletters.php" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/upd/newsletters" />
                </rule>
				<rule name="Contact (link)" stopProcessing="true">
                    <match url="^contact.php" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/upd/contact" />
                </rule>
				<rule name="About (home menu)" stopProcessing="true">
                    <match url="^about" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/about.php" />
                </rule>		
                <rule name="Page [options]" enabled="true" stopProcessing="true">
                    <match url="^pages/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/page.php?cat={R:1}&amp;seo_url={R:2}" />
                </rule>
                <rule name="Landing Page(footer menu)" stopProcessing="true">
                    <match url="^pages" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/pages.php" />
                </rule>
				<rule name="Individual NEWS[category options]" enabled="true" stopProcessing="true">
                    <match url="^news/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/news.php?cat={R:1}&amp;title={R:2}" />
                </rule>
				<rule name="THE NEWS[options]" enabled="true" stopProcessing="true">
                    <match url="^news/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/news.php?cat={R:1}" />
                </rule>
                <rule name="News (home menu)" stopProcessing="true">
                    <match url="^news" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/news.php" />
                </rule>
				<rule name="ARCHIVED NEWS GROUP[options]" enabled="true" stopProcessing="true">
                    <match url="^archived-news/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/archived-news.php?arc={R:1}&amp;title={R:2}" />
                </rule>
				<rule name="ARCHIVED NEWS[options]" enabled="true" stopProcessing="true">
                    <match url="^archived-news/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/archived-news.php?arc={R:1}" />
                </rule>
                <rule name="Archived News (home menu)" stopProcessing="true">
                    <match url="^archived-news" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/archived-news.php" />
                </rule>
				<rule name="Blog (options)" stopProcessing="true">
                    <match url="^blog/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/blog.php?title={R:1}" />
                </rule>
				<rule name="Blog (home menu)" stopProcessing="true">
                    <match url="^blog" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/blog.php" />
                </rule>
				<rule name="ARCHIVED BLOGS GROUP[options]" enabled="true" stopProcessing="true">
                    <match url="^archived-blog/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/archived-blog.php?arc={R:1}&amp;title={R:2}" />
                </rule>
				<rule name="ARCHIVED BLOGS[options]" enabled="true" stopProcessing="true">
                    <match url="^archived-blogs/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/archived-blog.php?arc={R:1}" />
                </rule>
                <rule name="ARCHIVED BLOGS (home menu)" stopProcessing="true">
                    <match url="^archived-blogs" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/archived-blog.php" />
                </rule>
				<rule name="Newsletter (options)" stopProcessing="true">
                    <match url="^newsletters/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/newsletters.php?title={R:1}" />
                </rule>
				<rule name="Newsletters (home menu)" stopProcessing="true">
                    <match url="^newsletters" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/newsletters.php" />
                </rule>
				<rule name="Research (options)" stopProcessing="true">
                    <match url="^research/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/research.php?title={R:1}" />
                </rule>
				<rule name="Research (home menu)" stopProcessing="true">
                    <match url="^research" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/research.php" />
                </rule>
				<rule name="Testimonials (about menu)" stopProcessing="true">
                    <match url="^testimonials" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/testimonials.php" />
                </rule>
				<rule name="Disclaimer (footer link)" stopProcessing="true">
                    <match url="^disclaimer" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/disclaimer.php" />
                </rule>
				<rule name="Contact Categories (home menu)" stopProcessing="true">
                    <match url="^contact" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/contact.php" />
                </rule>
				<rule name="For Sale Region" stopProcessing="true">
                    <match url="^for-sale/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/property-list.php?region={R:1}" />
                </rule>
				<rule name="For Sale" stopProcessing="true">
                    <match url="^for-sale" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/property-list.php" />
                </rule>
				<rule name="Property (individual)" stopProcessing="true">
                    <match url="^property/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/property.php?url={R:1}" />
                </rule>
				<rule name="For Rent" stopProcessing="true">
                    <match url="^for-rent" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/rental-list.php" />
                </rule>
				<rule name="Rental (individual)" stopProcessing="true">
                    <match url="^rental/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/rental.php?url={R:1}" />
                </rule>
				<rule name="Property Brochure (individual)" stopProcessing="true">
                    <match url="^brochure/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/brochure-template.php?url={R:1}" />
                </rule>
				<rule name="Property Search (specific)" stopProcessing="true">
                    <match url="^property-search/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-results.php?pt={R:1}&amp;prl={R:2}&amp;prh={R:3}&amp;prs={R:4}&amp;ft={R:5}" />
                </rule>
				<rule name="Property Search (missing param 1)" stopProcessing="true">
                    <match url="^property-search/([^/]+)/([^/]+)/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-results.php?pt=0&amp;prl=0&amp;prh=2500&amp;prs=0&amp;ft=all" />
                </rule>
				<rule name="Property Search (missing param 2)" stopProcessing="true">
                    <match url="^property-search/([^/]+)/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-results.php?pt=0&amp;prl=0&amp;prh=2500&amp;prs=0&amp;ft=all" />
                </rule>
				<rule name="Property Search (missing param 3)" stopProcessing="true">
                    <match url="^property-search/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-results.php?pt=0&amp;prl=0&amp;prh=2500&amp;prs=0&amp;ft=all" />
                </rule>
				<rule name="Property Search (missing param 4)" stopProcessing="true">
                    <match url="^property-search/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-results.php?pt=0&amp;prl=0&amp;prh=2500&amp;prs=0&amp;ft=all" />
                </rule>
				<rule name="Property Search (missing all params)" stopProcessing="true">
                    <match url="^property-search" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-results.php?pt=0&amp;prl=0&amp;prh=2500&amp;prs=0&amp;ft=all" />
                </rule>
				<rule name="Rental Search (specific)" stopProcessing="true">
                    <match url="^rental-search/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-rentals.php?pt={R:1}&amp;prl={R:2}&amp;prh={R:3}&amp;prs={R:4}&amp;ft={R:5}" />
                </rule>
				<rule name="Rental Search (missing param 1)" stopProcessing="true">
                    <match url="^rental-search/([^/]+)/([^/]+)/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-rentals.php?pt=0&amp;prl=0&amp;prh=2500&amp;prs=0&amp;ft=all" />
                </rule>
				<rule name="Rental Search (missing param 2)" stopProcessing="true">
                    <match url="^rental-search/([^/]+)/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-rentals.php?pt=0&amp;prl=0&amp;prh=2500&amp;prs=0&amp;ft=all" />
                </rule>
				<rule name="Rental Search (missing param 3)" stopProcessing="true">
                    <match url="^rental-search/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-rentals.php?pt=0&amp;prl=0&amp;prh=2500&amp;prs=0&amp;ft=all" />
                </rule>
				<rule name="Rental Search (missing param 4)" stopProcessing="true">
                    <match url="^rental-search/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-rentals.php?pt=0&amp;prl=0&amp;prh=2500&amp;prs=0&amp;ft=all" />
                </rule>
				<rule name="Rental Search (missing all params)" stopProcessing="true">
                    <match url="^rental-search" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/upd/search-rentals.php?pt=0&amp;prl=0&amp;prh=2500&amp;prs=0&amp;ft=all" />
                </rule>
				<rule name="Password Forgotten" stopProcessing="true">
                    <match url="^password-forgot" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/urbanactivation/password-forgot.php?" />
                </rule>		
				<rule name="Password Reset - With Token" stopProcessing="true">
                    <match url="^password-reset/([^/]+)/([^/]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/urbanactivation/password-reset.php?id={R:1}&amp;token={R:2}" />
                </rule>	
				<rule name="Password Reset" stopProcessing="true">
                    <match url="^password-reset" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/urbanactivation/password-reset.php?" />
                </rule>		
				<rule name="Register" stopProcessing="true">
                    <match url="^register" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/urbanactivation/register.php?" />
                </rule>	
				<rule name="Login" stopProcessing="true">
                    <match url="^login" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/urbanactivation/login.php?" />
                </rule>		
				<rule name="Logout" stopProcessing="true">
                    <match url="^logout" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/urbanactivation/logout.php?" />
                </rule>	
				<rule name="My Account - Change My Password - Error" stopProcessing="true">
                    <match url="^myaccount/change-password/error" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/urbanactivation/account-change-password.php?status=error" />
                </rule>	
				<rule name="My Account - Change My Password - Success" stopProcessing="true">
                    <match url="^myaccount/change-password/success" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/urbanactivation/account-change-password.php?status=success" />
                </rule>	
				<rule name="My Account - Change My Password" stopProcessing="true">
                    <match url="^myaccount/change-password" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/urbanactivation/account-change-password.php?" />
                </rule>	
				<rule name="My Account - Change My Details - Success" stopProcessing="true">
                    <match url="^myaccount/change-details/success" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/urbanactivation/account-change-details.php?status=success" />
                </rule>		
				<rule name="My Account - Change My Details" stopProcessing="true">
                    <match url="^myaccount/change-details" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/urbanactivation/account-change-details.php?" />
                </rule>	
			</rules>
		</rewrite>
    </system.webServer>
</configuration>
